<ul id="bestbuy-reviews">
	{{#each this.reviews}}
		<li>
			{{!-- <p>{{id}}</p> --}}
			{{!-- <p>{{sku}}</p> --}}
			<p>
				{{#each this.reviewer}}
					{{name}}
				{{/each}}
			</p>
			<p class="review-date">{{this.submissionTime}}</p>
			<p>{{this.comment}}</p>
			<p>{{this.rating}}</p>
			<hr>
		</li>
	{{/each}} 
</ul>
