{{#if label}}
	<label>
		<input type="{{type}}" value="{{value}}" name="{{name}}" class="{{classes}}" placeholder="{{placeholder}}" />
		<span class="{{type}}"></span>
		<span class="label-content">{{label}}<span>
		{{#if onError}}
			<span>{{onError}}</span>
		{{/if}}
	</label>
{{else}}
	<input type="{{type}}" value="{{value}}" class="{{classes}}" placeholder="{{placeholder}}" />
	<span class="{{type}}"></span>	
	{{#if onError}}
		<span class="error-msg">{{onError}}</span>
	{{/if}}
{{/if}}